<div id="goback"><a href="javascript:history.back()">[戻る]</a></div>
<div id="gotop"><a href="#">ページの先頭に戻る</div>
<footer>
    <div class="responsible"></div>
    <a class="copyright">&copy; 2025 Koken Kogyo Co. All rights reserved.</a>
</footer>
