@charset "UTF-8";
/* =========================================================================== */
/*  style-delivery.css : スタイルシート
/* =========================================================================== */
.containers{
    width: 100%;
}
/* =========================================================================== */
/*  Navigation共通グループ
/* =========================================================================== */
#navigate {
    position: fixed;
    display: block;
    background-color: #fff;
    top: 40px;
    width: 100%;
    z-index: 800;
}
#groups {
    width: 980px;
    margin: 0 auto;
}
#menu {
    display: flex;
}
.menu-item {
    width: 200px;
    background: rgb(168, 168, 169, 0.4);
    border: 0.1rem solid rgb(168, 168, 169, 0.6);
    border-radius: 3px;
    margin: 0.5rem 0.5rem 0rem 0.5rem;
    padding-inline: 1rem;
    font-size: large;
}
.menu-data {
    font-weight: 600;
    text-align: center;
}
.menu-img {
    margin-top: 20px;
    margin-inline: 10px;
    width: 40px;
}
.menu-img img {
    margin-top: -3px;
    height: 40px;
}
#groups .allow {
    padding: 0.6em;
    border-radius: 3px;
    background-color: rgb(40, 40, 40);
    color: #eee;
}
#groups .allow:hover {
    border-radius: 3px;
    background-color: rgb(24, 94, 164);
    color: #eee;
}
#groups .noallow {
    padding: 0.6em;
    border-radius: 3px;
    background-color: rgb(164, 164, 164);
    color: #eee;
}
#groups .home {
    padding: 0.6em;
    border-radius: 3px;
    background-color: rgb(30, 30, 30, 0.9);
    color: #eee;
}
#groups .home:hover {
    border-radius: 3px;
    background-color: rgb(24, 94, 164);
    color: #eee;
}

/* CheckBox Button 1 */
  .button-cover {
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
  }
  .button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
  }
  .button-cover,
  .knobs,
  .layer {
    position: absolute;
    background-color: rgba(255, 255, 255, 1.0);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .button {
    position: relative;
    top: 30%;
    width: 62px;
    height: 29px;
    margin: -20px auto 0 auto;
    overflow: hidden;
  }
  .button.r,
  .button.r .layer {
    border-radius: 100px;
    margin-right: 1rem;
  }
  .button.b2 {
    border-radius: 2px;
  }
  
  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  .knobs {
    z-index: 2;
  }
  
  .layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
  }

  #button-1 .knobs:before {
    content: "NO";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 8px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 8px 4px;
    background-color: #f39d97;
    border-radius: 50%;
    transition: 0.2s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
  }
  
  #button-1 .checkbox:checked + .knobs:before {
    content: "YES";
    left: 30px;
    background-color: #03a9f4;
  }
  
  #button-1 .checkbox:checked ~ .layer {
    background-color: #fcebeb;
  }
  
  #button-1 .knobs,
  #button-1 .knobs:before,
  #button-1 .layer {
    transition: 0.3s ease all;
  }

/* =========================================================================== */
/*  Indexゲーション
/* =========================================================================== */
#groups #navi-index li:nth-child(1) {
    width: 200px;
}
#groups #navi-index li:nth-child(2) {
    width: 200px;
}
#groups #navi-index li:nth-child(3) {
    width: 200px;
}
#groups #navi-index li:nth-child(4) {
    width: 200px;
}
#groups #navi-index li:nth-child(5) {
    width: 200px;
}

/* =========================================================================== */
/*  明細共通
/* =========================================================================== */
#details {
    width: 1080px;
    margin: auto;
    padding-top: 140px;
    z-index: 700;
}
#details ul {
    display: inline-block;
    text-align: center;
}
/* =========================================================================== */
/*  個別明細 es-index.ejs es-search.els
/* =========================================================================== */
#details-index tr {
    background-color: #FEFEFE;
}
#details-index tr:nth-child(even) {
    background-color: #ECECEC;
}
#details-index th {
    border: solid 0.5px #1414141c;
    background-color: rgb(225, 238, 253);
}
#details-index th:hover {
    cursor: pointer;
    color: rgba(30, 80, 80, 0.8);
    background-color: rgba(180, 250, 180);
}
#details-index .th-big {
    font-size: 1.4rem;
}
#details-index .th-small {
    font-size: 0.8rem;
}
#details-index .th-large-small {
    font-size: 0.6rem;
}
#details-index .td-a {
    color: cadetblue;
    font-weight: 600;
}
#details-index .td-a:hover {
    cursor: pointer;
    color: rgba(30, 80, 80, 0.8);
    background-color: rgba(180, 250, 180);
}
#details-index .c-btn {
    background-color: rgb(225, 238, 253);
    overflow: hidden;
    position: relative;
    z-index: 1;
}
#details-index .c-btn::after {
    background-color: rgb(84, 155, 236);
    border-radius: 3px;
    position:absolute;
    top:0;
    left:0;
    content:'';
    width:100%;
    height: 100%;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
}
#details-index .c-btn:hover {
    color: #fff;
}
#details-index .c-btn:hover::after {
    transform: scale(1, 1);
}
#details-index td {
    text-align: center;
    border: solid 0.5px #1414141c;
    padding: 2px 0px ;
    vertical-align: middle;
    height: 36px;
}
#details-index .td-href {
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    padding: 8px 0px;
}
#details-index .td-big {
    font-weight: bold;
}
#details-index .td-small {
    font-size: 0.8rem;
}
#details-index .td-large-small {
    font-size: 0.7rem;
}
#details-index .lef {
    text-align: left;
}
#details-index .w800 {
    font-weight: 800;
}
#details-index .s3 {
    text-align: left;
}
/* s4:出荷準備完了 */
#details-index .s4 {
    border-radius: 3px;
    background-color: rgba(100, 100, 100, 0.4);
}
/* sD:重複品番色付け */
#details-index .sD {
    border-radius: 3px;
    background-color: rgba(255, 105, 180, 0.3);
}
/* sI:検区RFH始まり色付け */
#details-index .sI {
    border-radius: 3px;
    color : rgba(0, 0, 0, 0.8);
    background-color: rgba(100, 250, 120, 0.8);
}
/* sY:YGWのY */
#details-index .sY {
    color: #E02020;
    vertical-align: middle;
    border-radius: 3px;
    background-color: rgba(250, 240, 20, 0.8);
    animation: blinkAnimeSY 0.8s  infinite alternate;
}
@keyframes blinkAnimeSY {
    0%{ color : rgba(10, 10, 10, 0.6);   background:rgba(250, 240, 20, 0.2) }
  100%{ color : rgba(250, 20, 20, 0.9); background:rgba(250, 240, 20, 0.9)   }
}

#details-index .red {
    color: rgba(250, 20, 20, 0.6);
}

/* =========================================================================== */
/*  selector明細
/* =========================================================================== */
#details-selector {
    display: grid;
    padding: 0px 60px;
    grid-template-rows: 300px;
    grid-template-columns: 45% 10% 45%;
}
#details-selector .item {
    text-align: center;
    padding: 30px 30px;
    border-radius: 60px;
    background-color: rgba(255, 150, 0, 1.0);
    box-shadow: 4px 4px 8px gray;
    color: #eee;
}
#details-selector .item:hover {
    background-color: rgba(255, 150, 0, 0.5);
    color: rgb(50, 50, 50, 0.5);
}
#details-selector a {
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
#details-selector img {
    padding: 30px 0px 0px 0px;
}
#details-selector p {
    margin: 15px 0px 0px 0px;
}
/* =========================================================================== */
/*  i-Phone
/* =========================================================================== */
#details-i {
    z-index: 700;
}
#details-i #tbl2 {
    margin: auto;
    font-size: 3.6rem;
    width: 98%;
}
#details-i tr {
    background-color: #FEFEFE;
}
#details-i tr:nth-child(even) {
    background-color: #ECECEC;
}
#details-i th {
    border: solid 0.5px #1414141c;
    background-color: rgb(225, 238, 253);
}
#details-i #tbl2 .th-big {
    font-size: 2.4rem;
}
#details-i #tbl2 .th-small {
    font-size: 1.4rem;
}
#details-i td {
    text-align: center;
    border: solid 0.5px #1414141c;
    padding: 2px 0px ;
    vertical-align: middle;
    height: 36px;
}
#details-i #tbl2 .td-big {
    font-weight: normal;
    font-size: 2.2rem;
}
#details-i #tbl2 .td-small {
    font-size: 1.4rem;
}
#details-i #tbl2 .td-large-small {
    font-size: 1.1rem;
}
#details-i .s3 {
    font-size: 50px;
    text-align: left;
}
#details-i .s4 {
    font-size: 50px;
    text-align: left;
    border-radius: 3px;
    background-color: rgba(255, 105, 180, 0.3);
}
/* =========================================================================== */
/*  ポップアップウィンドウ
/* =========================================================================== */
#popWin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.pop-win {
    border-radius: 5px;
    width: 830px;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}
#popTitle {
    width: 800px;
    margin: 15px;
    color: rgb(30, 30, 30, 0.8);;
    text-align: left;
    border: 0.5px solid rgb(168, 168, 169, 0.6);
    border-radius: 3px;
}
#popTitle th {
    background: rgb(0, 168, 169, 0.3);
    border-color: rgb(30, 30, 30, 0.8);;
    border-radius: 3px;
    padding: 0.5rem;
    margin: 3px;
}
#popTable {
    width: 800px;
    margin: 15px;
}
#popTable tr {
    background-color: #DADADA;
}
#popTable tr:nth-child(even) {
    background-color: #DADADA;
    height: 3rem;
}
#popTable th {
    border: solid 0.5px #1414141c;
    background-color: rgb(225, 238, 253);
}
#popTable td {
    font-weight: bold;
}
#popTable .indent {
    padding-left: 0.5rem;
}
#popTable .left {
    text-align: left;
}
#popTable .center {
    text-align: center;
}
#popTable .red {
    color: rgb(230, 10, 10, 0.6);
}
#close {
    cursor: pointer;
    color: rgb(250, 250, 250, 0.8);
    background: rgb(30, 30, 30, 0.8);
    border: 0.1rem solid rgb(168, 168, 169, 0.6);
    border-radius: 3px;
    width: calc(100% - 30px);
    margin: 0px 15px 15px 15px;
    padding: 5px;
    font-weight: bold;
    font-size: 1.2rem;
}
/* =========================================================================== */
/*  ワーニング
/* =========================================================================== */
.nodata {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    text-align: center;
    width: 865px;
    margin: 0 auto;
}
.alert {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    text-align: center;
    font-weight: bold;
}
